.app {
  font-family: "Roboto", sans-serif;
  text-align: center;
  height: 80%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  /* padding: 50px 0px 50px 0px; */
  min-height: 400px;
}



@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  box-sizing: border-box;
  background: #000;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.home-intro {
  margin-top: 22vh;
  margin-bottom: 5vh;
  text-align: center;
}
.intro {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 400%;
  color: white;
}

.nav {
  padding: 0 10px;
  font-size: "Roboto", sans-serif;
  font-size: 200%;
  color: dodgerblue;
}
.active {
  /* color: #0b639e; */
  font-weight: bold;
}

.hi {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 170%;
  color: white;
}

.description {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 170%;
  color: #febe55;
  /* font-size: 110%; */
  /* margin: 10vh 44vh; */
}


.aboutus-heading {
  z-index: 1;
  font-optical-sizing: 1;
  color: black;
  font-size: 200%;
  margin-top: 200px;
  vertical-align: middle;
}

.project-heading {
  font-family: "Roboto", sans-serif;
  color: #febe55;
  font-size: 200%;
  margin-top: 3vh;
  margin-bottom: 5vh;
  font-weight: bold;
}
.aboutus-info {
  font-size: 200%;
  color: black;
  font-size: 100%;
  text-align: center;
  /* margin-top: 200px; */
}
.skill {
  margin-top: 23vh;
}
.tag {
  margin-top: 7vh;
  margin-left: 0vh;
  margin-right: 0;
}
.skill-info {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: white;
  margin-top: 200px;
}

.skill-info-2 {
  font-family: "Roboto", sans-serif;
  font-size: 200%;
  color: white;
  font-size: 120%;
  

}

.skill-heading {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 250%;
  color: #febe55;
  margin-top: 200px;
  margin-bottom: 20px;
  vertical-align: middle;
}

.icon {
  margin-top: 22vh;
  margin-bottom: 0px;
}
.font-icon {
  margin-left: 10px;
  margin-right: 10px;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 400px;
  margin-bottom: 10vh;

  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 75%;
  height: 100%;
  margin-left: 55px;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: rgb(230, 248, 255);
  color: black;
}

.flip-card-back {
  width: 100%;
  height: 100%;
  background-color: rgb(123, 195, 253);
  color: white;
  transform: rotateY(180deg);
}
.logo {
  color: yellow;
}

.tagcloud {
  font-size: 30px;
}

.tagcloud--item {
  padding: 2px 4px;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.tagcloud--item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #333;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  opacity: 1 !important;
  z-index: 100 !important;
}

.light .tagcloud--item {
  color: #fff;
}

.light .tagcloud--item:hover {
  background-color: rgba(247, 241, 241, 0.1);
  border: 1px solid #fff;
}

.tagcloud {
  font-size: 16px;
}

.tagcloud--item {
  padding: 2px 4px;
  background-color: transparent;
  color: rgb(13, 134, 255);
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 25px;
}

.tagcloud--item:hover {
  background-color: rgba(255, 248, 248, 0.1);
  border: 1px solid #333;

  opacity: 1 !important;
  z-index: 100 !important;
}

.light .tagcloud--item {
  color: #fff;
}
.tsparticles {
  padding: 0;
  /* background: $background */
}
.light .tagcloud--item:hover {
  background-color: rgba(255, 254, 254, 0.1);
  border: 1px solid #fff;
}

.container {
  position: relative;
  max-width: 97%;
  /* max-height: 90%; */
}
.container canvas,
.overlay {
  position: absolute;
}
.tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
}
canvas {
  display: block;
  /* vertical-align: bottom; */
}
.github {
  margin: 1px;
  font-size: 34px;
  color: rgb(0, 123, 255);
}

.github2 {
  margin: 1px;
  font-size: 34px;
  color: rgb(0, 123, 255);
  align-items: center;
}

div.container a {
  color: dodgerblue;
  text-decoration: none;
  margin: 0px 10px;
  padding: 5px 0px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}
div.topBotomBordersOut a:before,
div.topBotomBordersOut a:after {
  padding: 0;
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #febe55;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}

div.topBotomBordersOut a:before {
  top: 0px;
  transform: translateY(10px);
}

div.topBotomBordersOut a:after {
  bottom: 0px;
  transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before,
div.topBotomBordersOut a:hover:after {
  opacity: 1;
  transform: translateY(0px);
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  65% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes swing {
  15% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  30% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(7px);
    transform: translateY(7px);
  }
  65% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.swing {
  display: inline-block;
}
.swing:hover {
  color: dodgerblue;
  -webkit-animation: swing 2s ease;
  animation: swing 1s both;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.contact-heading {
  font-family: "Roboto", sans-serif;
  color: white;
  padding-top: 90px;
  padding-left: 50px;
  /* padding-bottom: 10px; */
  font-weight: 100;
  font-size: 42px;
}
.contact-info {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 42px;
  padding-left: 50px;
  padding-bottom: 10px;
  font-weight: 100;
}

.contact-info-2 {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 32px;
  text-align: left;
  padding: 0 50px;
  justify-content: center;
  font-weight: 300;
}
.contact-logo{
  margin: 10px 50px;
}
.phone {
  /* background-color: #ddd; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 36px;
  position: absolute;
  cursor: pointer;
}

.cta {
  height: 80px;
  width: 320px;
  color: white;
  font-size: 27px;
  z-index: 1;
  transition: 1.2s;
  background: dodgerblue;
}

.number {
  height: 80px;
  width: 318px;
  background-image: linear-gradient(#febe55, #febe55);
  background-size: cover;
  color: black;
  font-size: 25px;
  box-shadow: 3px 3px 30px rgb(0, 0, 0);
}
.email {
  height: 80px;
  width: 318px;
  background-image: linear-gradient(#febe55, #febe55);
  background-size: cover;
  color: black;
  font-size: 15px;
  box-shadow: 3px 3px 30px rgb(0, 0, 0);
}

.cta:hover {
  transform: translateX(-80%);
  transition: 1.2s;
}

.call-me-button {
  padding: 0 150px;
}

.email-me-button {
  padding: 8rem 150px;
}
.color-img {
  padding: 36px 18px;
  width: 90%;
  border-radius: 15px;
}
.color-switch {
  padding: 10px;
  padding-top: 30px;
  
  font-size: 35px;
  font-weight: 300;
}
.color-switch-info {
  color: #000;
  padding: 30px;
  font-size: 20px;
}

.blm-img {
  padding: 30px 18px;
  width: 85%;
  border-radius: 15px;
}

.blm-switch {
  padding-top: 25px;
  font-size: 25px;
  font-weight: 300;
}
.blm-info {
  color: #000;
  padding: 20px;
  font-size: 17px;
}


.su-info {
  color: #000;
  padding: 30px;
  font-size: 22px;
}

.su-img {
  padding: 30px 18px;
  width: 75%;
  border-radius: 15px;
}

.su-switch {
  padding: 10px;
  font-size: 25px;
  font-weight: 300;
}

.project-info {
  font-size: 20px;
  color: white;
  text-align: center;
}
.button {
	display: inline-flex;
	height: 40px;
	width: 150px;
	border: 2px solid #FFFF;
	margin: 20px 20px 20px 20px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-decoration: none;
	font-size: .8em;
	letter-spacing: 1.5px;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
	margin-left: 15rem;
	overflow: hidden;
  }

  #button-3 {
	position: relative;
	overflow: hidden;
	cursor: pointer;
	
  }
  
  #button-3 a {
	position: relative;
	transition: all .45s ease-Out;
  }

  .resume{
	  color: white;
  }
  
  #circle {
	width: 0%;
	height: 0%;
	opacity: 0;
	line-height: 40px;
	border-radius: 50%;
	background: #febe55;
	position: absolute;
	transition: all .5s ease-Out;
	top: 20px;
	left: 70px;
  }
  
  #button-3:hover #circle {
	width: 200%;
	height: 500%;
	opacity: 1;
	top: -70px;
	left: -70px;
  }
  
  #button-3:hover a {
	color: #2D3142;
  }