

.app{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  height: 80%;
  background:transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  /* padding: 50px 0px 50px 0px; */
  min-height:400px;
}




address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: #070707;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


body {
	box-sizing: border-box;
	background: #000;
	font-family: 'Montserrat', sans-serif;
}

html,
body {
  /* background: ra; */
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.home-intro{
  margin-top: 22vh;
  margin-bottom: 5vh;
  text-align: center;

}
.intro{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 400%;
  color : white; 
  
}

.nav{
  padding :0 10px;
  font-size: 'Roboto', sans-serif;
  font-size : 200%;
  color: dodgerblue;
}
.active{
  /* color: #0b639e; */
  font-weight: bold;
}


.hi{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 150%;
  color : white;

  
}

.description{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 150%;
  color : #FEBE55;
  /* font-size: 110%; */
  /* margin: 10vh 44vh; */
}



.wrapper {
	position: absolute;
	top: 50%;
  left : 50%;
	transform: translate(-50%, -50%) perspective(600px) rotateY(20deg) rotateX(10deg);
	background: #0f4c75;
	transform-style: preserve-3d;
	width: 700px;
	height: 350px;
	border-radius: 10px;
}

.wrapper .shape {
	background: #3282b8;
	border-radius: 10px;
	width: 700px;
	height: 350px;
	transform: translateZ(50px) translateX(-17px) scale(0.85);
	opacity: 0.8;
}

.wrapper .shape2 {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 750px;
	height: 400px;
	transform: translateZ(150px) translateX(-22px) translateY(-26px) scale(0.55);
	border: 3px solid white;
	background: #bbe1fa;
	opacity: 0.3;
	border-radius: 8px;
}

.wrapper p {
  text-align: center;
  margin: 10px;
  
}

.aboutus-heading{
  z-index: 1;
  font-optical-sizing: 1;
  color: black;
  font-size: 200%;
  margin-top: 200px;
  vertical-align: middle;
}

.project-heading{

  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 200%;
  margin-top: 3vh;
  margin-bottom: 5vh;
  font-weight: bold;
  
}
.aboutus-info{
  font-size: 200%;
  color: black;
  font-size: 100%;
  text-align: center;
  /* margin-top: 200px; */
  
}
.skill{
  margin-top: 27vh;
}
.tag{
  margin-top: 7vh;
  margin-left: 0vh;
  margin-right: 0;
}
.skill-info{
  font-family: 'Roboto', sans-serif;
  font-size: 200%;
  color: white;
  font-size: 120%;
  /* text-align: center; */
  margin-top: 200px;
  
}

.skill-heading{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 250%;
  color: white;
  margin-top: 200px;
  vertical-align: middle;
}

.icon{
  margin-top: 25vh;
  margin-bottom: 0px;
  
}
.font-icon{
  margin-left: 10px;
  margin-right: 10px;
}

.flip-card {
  
  background-color: transparent;
  width: 100%;
  height: 400px;
  margin-bottom: 10vh;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 75%;
  height: 100%;
  margin-left: 55px;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: rgb(230, 248, 255);
  color: black;
}

/* Style the back side */
.flip-card-back {
  width: 100%;
  height: 100%;
  background-color: rgb(123, 195, 253);
  color: white;
  transform: rotateY(180deg);
}
.logo{
  color: yellow;
}

.tagcloud {
  font-size: 30px;
}

.tagcloud--item {
  padding: 2px 4px;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.tagcloud--item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #333;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  opacity: 1 !important;
  z-index: 100 !important;
}

.light .tagcloud--item {
  color: #fff;
}

.light .tagcloud--item:hover {
  background-color: rgba(247, 241, 241, 0.1);
  border: 1px solid #fff;
}

.tagcloud {
  font-size: 16px;
}

.tagcloud--item {
  padding: 2px 4px;
  background-color: transparent;
  color : dodgerblue;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 25px;
}

.tagcloud--item:hover {
  background-color: rgba(255, 248, 248, 0.1);
  border: 1px solid #333;
  
  opacity: 1 !important;
  z-index: 100 !important;
}

.light .tagcloud--item {
  color: #fff;
}
.tsparticles{
  padding: 0;
	/* background: $background */
}
.light .tagcloud--item:hover {
  background-color: rgba(255, 254, 254, 0.1);
  border: 1px solid #fff;
}

.container {
  position: relative;
  max-width: 97%;
  /* max-height: 90%; */
}
.container canvas, .overlay {
  position: absolute;

}
.tsparticles{
  position: absolute;
  width: 100%;
  height: 100%;

}
canvas{
  display: block;
  /* vertical-align: bottom; */
}
.github{
  margin: 1px;
  font-size: 34px;
  color: rgb(0, 123, 255);
}

.github2{
  margin: 1px;
  font-size: 34px;
  color: rgb(0, 123, 255);
  align-items: center;
}



div.container a
{
    color: dodgerblue;
    text-decoration: none;
    margin: 0px 10px;
    padding: 5px 0px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
div.topBotomBordersOut a:before, div.topBotomBordersOut a:after
{
    padding: 0;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FEBE55;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersOut a:before
{
    top: 0px;
    transform: translateY(10px);
}

div.topBotomBordersOut a:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before, div.topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}

@-webkit-keyframes swing {
  15% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
  }
  30% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
  }
  50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
  }
  65% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
  }
  80% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}
@keyframes swing {
  15% {
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
  }
  30% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
  }
  50% {
      -webkit-transform: translateY(7px);
      transform: translateY(7px);
  }
  65% {
      -webkit-transform: translateY(-7px);
      transform: translateY(-7px);
  }
  80% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}
.swing{
  display: inline-block;
}
.swing:hover
{
  color: #FEBE55;
  -webkit-animation: swing 2s ease;
  animation: swing 1s both;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0%  { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.contact-heading{
  font-family: 'Roboto', sans-serif;
  color: white;
  padding-top: 90px;
  padding-left: 50px;
  /* padding-bottom: 10px; */
  font-weight: 100;
  font-size: 42px;

}
.contact-info{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 42px;
  padding-left: 50px;
  padding-bottom: 60px;
  font-weight: 100;
}
.contact-info-2{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 32px;
  text-align: center;
  padding: 0 28%;
  justify-content: center;
  font-weight: 300;
}

.phone {
  /* background-color: #ddd; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 36px;
  position: absolute;
  cursor: pointer;

}

.cta {
  height: 80px;
  width: 320px;
  color: white;
  font-size: 27px;
  z-index: 1;
  transition: 1.2s;
  background: dodgerblue;
}

.number {
  height: 80px;
  width: 318px;
  background-image: linear-gradient( #FEBE55, #FEBE55 );
  background-size: cover;
  color: black;
  font-size: 25px;
  box-shadow: 3px 3px 30px rgb(0, 0, 0);
}
.email {
  height: 80px;
  width: 318px;
  background-image: linear-gradient( #FEBE55, #FEBE55 );
  background-size: cover;
  color: black;
  font-size: 15px;
  box-shadow: 3px 3px 30px rgb(0, 0, 0);
}

.cta:hover {
  transform: translateX(-80%);
  transition: 1.2s;
}

.call-me-button{
  padding: 0 150px;
}

.email-me-button{
  padding: 9rem 150px;
}
.color-img{
  padding: 36px 18px;
  width: 90%;
  border-radius: 15px;
}
.color-switch{
  padding-top: 30px;
  font-size: 45px;
  font-weight: 300;
  
}
.color-switch-info{
  color: #000;
  padding: 30px;
  font-size: 20px;
}

.blm-img{
  padding: 30px 18px;
  width: 85%;
  border-radius: 15px;
}

.blm-switch{
padding-top: 15px;
  font-size: 35px;
  font-weight: 300;
}
.blm-info{
  color: #000;
  padding: 30px;
  font-size: 18px;
}

.su-info{
  color: #000;
  padding: 30px;
  font-size: 22px;
}

.su-img{
  padding: 30px 18px;
  width: 75%;
  border-radius: 15px;
}

.su-switch{
/* padding-top: px; */
  font-size: 35px;
  font-weight: 300;
}

.project-info{
  font-size: 20px;
  color: white;
  text-align: center;

}